{% include 'shop/regi.html' %}
{% block content %}
    <div class="card" id="main">
        <div class="row justify-content m-3">
            {% if products %}
            {% for product in products %}
                <!-- <div class="col-md-4">
                    <div class="card m-3 p-2" style="width: 12rem; height: 22rem; box-shadow: 4px 4px #4e0c9a; border-radius: 25px 15px;">
                        <img src="{{ product.image.url }}" style="width: 120px; height: 130px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 style="font-size: 17px;" class="card-title mt-1">{{ product.name }}</h6>
                            <h6 style="color: rgb(16, 52, 107)" class="card-subtitle mt-1">{{ product.price }}</h6>
                            <hr>
                            <p style="font-size: 13px;" ><b>{{ product.category.name }}</b></p>
                            <p style="font-size: 13px;"  class="cart-text mt-1">{{ product.created_at }}</p>
                        </div>
                        <span><a href="{% url 'product' product.pk  %}" style="background-color: #5707b3;" class="btn btn-primary m-1">Detail</a></span>
                    </div>
                </div> -->
                <div class="card" style="width: 15rem; background-color: rgb(216, 237, 217); margin: 10px;">
                  <a href="{% url 'product' product.pk  %}">
                 <div class="halt">
                  <p style="text-align: center; font-size: 20px; ; border-radius: 5px; background-color: cadetblue; color: aliceblue;">{{ product.category.name }}</p>
                  <img src="{{ product.image.url }}" class="card-img-top" alt="..."  style="width: 120px; height: 130px; align-items: center;justify-content: center;" >
                  <div class="card-body">
                    <p class="card-title">{{ product.name }}</p>
                    <h6 style="color: rgb(16, 52, 107)" class="card-subtitle mt-1">${{ product.price }}</h6>
                    <hr>
                    <p class="card-text"></p>
                    <div >
                    </a>
                    </div>
                  </div></div>
                </div>
            {% endfor %}
            {% else %}
                 <p style="text-align: center;">No Products avilable</p>
            {% endif %}
            
        </div>
        <div class="row m-5" >
          <div class="col-md-12 m-2">
            {% if products.has_other_pages %}
              <ul class="pagination" style="margin-left: 30%;">
                    {% if products.has_previous %}  
                        <li class="page-item">
                          <a href="?page={{ products.previous_page_number }}" class="page-link">&laquo;
                          </a>
                        <li>
                      {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="?page=1">&laquo;</a>
                        </li>     
                     {% endif %}
  
                  {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                          <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                          </li>
                        {% else %}
                        <li class="page-item">
                          <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>  
                        {% endif %}
                  {% endfor %}


  
                  {% if products.has_next %}  
                  <li class="page-item">
                    <a href="?page={{ products.next_page_number }}" class="page-link">&raquo;
                    </a>
                  <li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="?page={{ products.paginator.num_pages }}">&raquo;</a>
                  </li>     
                  {% endif %}
              </ul>
            {% endif %}
  
          </div>
        </div>
    </div>
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>CHIPTRON</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">MMV SYSTEM</a>
      </div>
    </footer>

{% endblock %}